TENANT_DB_NAME="kp_vivivita"
NEXT_PUBLIC_TENANT_DB="kp_vivivita"
FASTAPI_URL="https://admin.kalptree.xyz/api"
NEXT_PUBLIC_KALP_ADMIN_URL="https://zero.kalptree.xyz"
MONGODB_URI="mongodb://USER:PASSWORD@HOST:27017/kp_vivivita?authSource=AUTH_DB"
